body {
	font-size: 75%;
}

html>body {
	font-size: 14pt;
	 margin: 0;
	 padding: 50px;
}

.greeting h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 36px;
  text-align: left;
  margin: 0
}

.greeting h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 24px;
  text-align: left;
  margin: 0;
  padding-bottom: 18px
}

img.photo {
	float: right;
}

img.aadmm {
  float: left;
  padding-top: 24px;
}

.explain {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin-top: 18px;
}

span.helping{
  font-weight: bold;
  font-style: italic;
}

div.certs {
  margin-top: 24px;
}

ul {
  list-style:  outside none;
  padding: 0px;
}

ul li {
  padding-bottom: 10px;
  padding-top: 0px;
}

ul li:before {
  content: '✓';
  font-weight: bold;
}





p {
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
	margin-right: 8em;
}

h1 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: black;
	line-height: 1.333em;

	margin-bottom: 1.333em;
}

h2 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: black;
	line-height: 1em;
	margin-top: .5em;
	margin-bottom: .5em;
	margin-right: 8em;
}

dl {
	font-size: 1em;
	line-height: 1.5em;
	margin-right: 8em;
	margin-bottom: 1.5em;
}

dt {
	font-weight: bold;
	float: left;
}

dd {
	padding-left: 1.5em;
}

.attr {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: .6em;
	float: right;
}


div.footer {
   font-size: 8pt;
 }